@tailwind base;
@tailwind components;
@tailwind utilities;

.flip__card {
    perspective: 1000px;
}

.flip__card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* .flip__card:hover .flip__card-inner {
    transform: rotateY(180deg);
} */
.flipped {
    transform: rotateY(180deg);
}

.flip__card-front,
.flip__card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip__card-front {
    color: black;
}

.flip__card-back {
    color: white;
    transform: rotateY(180deg);
}